.modal-loading {
  background-color: #000C;
  height: 100vh;
  width: 100vw;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9998;
}

.text-loading {
  color: #48a0f0;
  font-size: 30px;
  position: relative;
  top: 60px;
}

.container-loading {
  border-radius: 55px;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0009;
}

.dot-loading {
  animation: dots-loading forwards infinite normal 3s;
  opacity: 1;
}

.dot2-loading {
  animation-delay: 1s;
}

.dot3-loading {
  animation-delay: 2s;
}

.bar-loading {
  height: 20px;
  width: 10px;
  top: 50%;
  background-color: #48a0f0;
  position: absolute;
  left: calc(50% - 5px);
  transform-origin: 5px -40px;
  animation: bar-loading both infinite normal 3s cubic-bezier(0.44, -0.31, 0.54, 0.9);
}

.bar1-loading {
  transform: rotate(0deg);
  animation-delay: -2.2s;
}

.bar2-loading {
  transform: rotate(24deg);
  animation-delay: -2.4s;
}

.bar3-loading {
  transform: rotate(48deg);
  animation-delay: -2.6s;
}

.bar4-loading {
  transform: rotate(72deg);
  animation-delay: -2.8s;
}

.bar5-loading {
  transform: rotate(96deg);
}

.bar6-loading {
  transform: rotate(120deg);
  animation-delay: -.2s;
}

.bar7-loading {
  transform: rotate(144deg);
  animation-delay: -.4s;
}

.bar8-loading {
  transform: rotate(168deg);
  animation-delay: -.6s;
}

.bar9-loading {
  transform: rotate(192deg);
  animation-delay: -.8s;
}

.bar10-loading {
  transform: rotate(216deg);
  animation-delay: -1s;
}

.bar11-loading {
  transform: rotate(240deg);
  animation-delay: -1.2s;
}

.bar12-loading {
  transform: rotate(264deg);
  animation-delay: -1.4s;
}

.bar13-loading {
  transform: rotate(288deg);
  animation-delay: -1.6s;
}

.bar14-loading {
  transform: rotate(312deg);
  animation-delay: -1.8s;
}

.bar15-loading {
  transform: rotate(336deg);
  animation-delay: -2s;
}

@keyframes dots-loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bar-loading {
  0% {
    background-color: #48a0f0;
    height: 20px;
    border-radius: 0;
    filter: blur(1px);
    width: 10px;
  }

  10% {
    height: 20px;
  }

  25% {
    background-color: #CCDDFF;
    height: 30px;
    border-radius: 10px;
    filter: blur(4px);
    width: 12px;
  }

  40% {
    height: 20px;
  }

  50% {
    background-color: #48a0f0;
    border-radius: 0;
    filter: blur(1px);
    width: 10px;
  }

  100% {
    height: 20px;
    filter: blur(1px);
  }
}
